/* Custom page header */
.navbar {
  min-height: 40px;
}

[ng-click], [data-ng-click], [x-ng-click] {
    cursor: pointer;
}


/* Bootcards tweaks */
.bootcards-list .list-group-item-heading, 
.bootcards-list .list-group-item-text {
  padding-left: 5px;
}

.status-success {
  color: #fff;
  background-color: #5cb85c !important;
  border-color: #4cae4c !important;
}

.status-remove {
  color: #fff;
  background-color: #d9534f !important;
  border-color: #d43f3a !important;
}

.status-later {
  color: #fff;
  background-color: #39b3d7 !important;
  border-color: #269abc !important;
}

form #filter-leads {
  margin-left: 0px;
  margin-right: 0px;
}

.panel-heading .hero-title {
  margin-top: 0px; margin-bottom: 0px;
}
.panel-heading .fa-phone-square {
  font-size: 24px;
  margin-right: 10px;
}

.panel-heading .fa-envelope {
  font-size: 20px;
}

.company-details {
  min-height: 100px;
}

.employee-details {
  min-height: 180px;
}

.company-details .list-group-item img {
  margin-right: 0px;
  height: 60px;
  width: 60px;
}

.employee-details .list-group-item img {
  height: 80px;
  width: 80px;
}

.company-details .list-group-item .company-details-link img {
  margin-right: 0px;
  margin-left: 5px;
  height: 20px;
  width: 20px;
}
.employee-details .list-group-item .employee-details-link img {
  margin-right: 5px;
  height: 20px;
  width: 20px;
}

.list-group hr {
  margin-top: 2px;
  margin-bottom: 2px;
}

.list-group .subtle {
  color: #666;
  font-style: italic;;
}


/* angular-ui */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }