/* Bootstrap tweak */
.panel-default {
  border-color: #ccc;
}


/* Bootcards tweaks */
.bootcards-list .list-group-item-heading, 
.bootcards-list .list-group-item-text {
  padding-left: 5px;
  line-height: 12px;
}

.list-group-item-text {
  line-height: 12px;
  margin-bottom: 4px;
}

.bootcards-list .list-group-item img {
  height: 30px;
  width: 30px;
}

.bootcards-list .search-form i.fa-search, .bootcards-list form i.fa-search {
  left: 8px;
  top: 7px;
}

/* angular-ui */
[ng-click], [data-ng-click], [x-ng-click] {
    cursor: pointer;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.panel-footer .btn {
  margin-left: 10px !important;
}


/* TDAW */

/* Custom page header */
body {
  padding-top: 70px;
}
.navbar {
  min-height: 40px;
  margin-bottom: 0px;
}
.navbar-brand {
  font-size: 18px;
}
.navbar-nav {
  font-size: 13px;
}

/* 
 * summary bar right below header 
 */
.summary .summary-title {
  margin-top: 0px;
}

.summary span {
  // margin: 0 10px;
  padding: 5px 5px;
  font-size: 13px;
}

.summary span i {
  margin-right: 3px;
}

/*
 * list of leads
 */
form #filter-leads {
  margin-left: 0px;
  margin-right: 0px;
}

form #sort-leads span {
  padding-left: 15px;
}

.bootcards-list .list-group .progress {
  width: 20%;
  margin-left: 45px;
  margin-bottom: 0px;
}

/* highlight the list based on btn clicks */
.status-success {
  color: #fff;
  background-color: #5cb85c !important;
  border-color: #4cae4c !important;
}

.status-remove {
  color: #fff;
  background-color: #d9534f !important;
  border-color: #d43f3a !important;
}

.status-later {
  color: #fff;
  background-color: #39b3d7 !important;
  border-color: #269abc !important;
}

/*
 * lead cards
 */
.bootcards-cards .panel-heading .hero-title {
  margin-top: 0px; margin-bottom: 0px;
  width: 60%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bootcards-cards .panel-heading .progress {
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 5px;
  margin-bottom: 0px;
  width: 35%;
}

.company-details .list-group-item {
  min-height: 90px;
}

.employee-details .list-group-item {
  min-height: 140px;
}

.company-details .list-group-item img {
  margin-right: 0px;
  height: 50px;
  width: 50px;
}

.employee-details .list-group-item img {
  height: 60px;
  width: 60px;
}

.company-details-link {
  position: absolute;
  bottom: 0px;
  right: 15px;
}

/*
.employee-details-link {
  position: absolute;
  bottom: 5px;
  left: 10px;
}
*/

.company-details .list-group-item .company-details-link img {
  margin-right: 0px;
  margin-left: 5px;
  height: 20px;
  width: 20px;
}
.employee-details .list-group-item .employee-details-link img {
  margin-right: 5px;
  height: 20px;
  width: 20px;
}

.list-group hr {
  margin-top: 2px;
  margin-bottom: 2px;
}

.grayscale { 
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: url(grayscale.svg); /* Firefox 4+ */
  filter: gray; /* IE 6-9 */
}
